{% extends 'inventory/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% block bodyContent %}
{% include 'inventory/navbar.html '%}

<div class="row">
<div class="col-md-10 col-12 mx-auto mt-5">
<div class="d-flex justify-content-end">
<a href="{% url 'inventory:add-item' %}" class="btn btn-primary">+</a>
</div>
{{ itmes }}
<table class="table table-hover table-striped">
<thead>
<tr>
<th scope="col">ID</th>
<th scope="col">Name</th>
<th scope="col">Qte</th>
<th scope="col">Category</th>


</tr>
</thead>
<tbody>
    {% if items  %}
<tr>
    <th scope="row">-</th>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
{% endif %}
{% for item in items %}
<tr>
<th scope="row">{{ item.id }}</th>
<td>{{item.name}}</td>
<td>{{item.quantity}}</td>
<td>{{item.category.name}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
{% endblock bodyContent %}