{% extends 'inventory/base.html' %}
{% block title %} Welcome to Inventory Home Page {% endblock title %}
{% block bodyContent %}
{% include 'inventory/header.html' %}

<h1> Welcome</h1>
{% include 'inventory/navbar.html' %}

<div class="row"> 
     <div class="col-md-4 mt-5"></div>

<h1 class="fw-light">Track And Manage your Inventory</h1>
<p>Kep track of your inventory and recive quantity alerts for low invntory</p>    

<div>
<a href="{% url 'inventory:dashboard' %}" class="btn btn-primary">Get Startde Now!</a>

</div>
</div>
    </div>
{% include 'inventory/footer.html' %}
{% endblock bodyContent %}